@import "../utils";
@import "../media/media";

.landingPage {
  width: 100%;
  height: 100vh;
  background: rgb(255, 214, 0);
  background: -moz-radial-gradient(circle, rgba(255, 214, 0, .5) 0%, rgba(255, 172, 17, 0.8) 100%), url('/images/grain-noise.svg');
  background: -webkit-radial-gradient(circle, rgba(255, 214, 0, .5) 0%, rgba(255, 172, 17, 0.8) 100%), url('/images/grain-noise.svg');
  background: radial-gradient(circle, rgba(255, 214, 0, .5) 0%, rgba(255, 172, 17, 0.8) 100%), url('/images/grain-noise.svg');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd600", endColorstr="#ffac11", GradientType=1);
  @include flex(row, space-between);
  align-items: center;
  align-content: center;
  position: relative;

  @include media("<850px") {
    @include flex(column, center);
  }

  .landingPageContentContainer {
    width: 90%;
    margin: 0 auto;
    @include flex(row, space-between);
    align-items: center;
    align-content: center;
    position: relative;

    @include media("<850px") {
      @include flex(column, center);
    }

    .leftSection,
    .rightSection {
      width: calc(50% - 20px);

      @include media("<550px") {
        width: 80%;
      }
    }

    .leftSection {
      height: 100%;
      @include flex(column, center);
      align-items: center;

      .imageContainer {
        @include flex(column, center);
        align-items: center;
        align-content: center;

        @include media("<850px") {
          display: none;
        }

        img {
          object-fit: cover;
          width: 70%;
          height: 70%;
        }
      }
    }

    .rightSection {
      h1 {
        @include HeadingsFont();
      }

      .name {
        text-transform: uppercase;
        font-size: 40px;
        line-height: 90px;
        position: relative;
        margin-bottom: -40px;

        @include media("<1130px") {
          font-size: 35px;
        }

        @include media("<950px") {
          font-size: 30px;
        }

        @include media("<340px") {
          font-size: 27px;
        }

        @include media("<305px") {
          font-size: 25px;
        }

        @include media("<281px") {
          line-height: 55px;
        }

        h1 {
          position: relative;
          letter-spacing: 0.1rem;
          font-weight: 500;
          color: $secondary-color;

          span {
            color: white;
          }
        }
      }

      .title {
        text-transform: capitalize;
        font-weight: 500;
        margin-top: 70px;

        span:nth-child(2) {
          color: white;
          display: inline-block;
        }
      }
    }
  }


  .greeting {
    letter-spacing: 0.1rem;
    color: $primary-color-1;
    position: relative;
    margin-bottom: -40px;

    @include media("<281px") {
      margin-bottom: -20px;
    }

    &::before {
      content: '';
      position: relative;
      display: inline-block;
      width: 50px;
      height: 2px;
      background-color: $primary-color-1;
      transform: translateY(-5px);
      margin-right: 10px;
    }
  }

  .scrollIndicator {
    position: absolute;
    right: 40px;
    bottom: 0;
    color: $secondary-color;

    @include media("<850px") {
      display: none;
    }

    p {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      transform: rotate(90deg) translateX(-20px);
    }

    &::after {
      content: "";
      width: 2px;
      height: 120px;
      background-color: $secondary-color;
      display: block;
      margin: 0 auto;
    }
  }

  button {
    color: $primary-color-2;
    cursor: pointer;
    outline: none;
    border: none;
    width: 200px;
    height: 50px;
    background-color: $secondary-color;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2rem;
    @include NormalFont();
    @include flex(row, space-around);
    align-items: center;
    align-content: center;

    p {
      margin-right: 20px;
    }

    svg {
      fill: black;
    }
  }
}
