@import 'utils/utils';
@import 'utils/media';

.headings {
  @include HeadingsFont();
  text-transform: uppercase;
  position: relative;
  @include display(flex, row, center);
  align-items: center;
  align-content: center;

  h1:nth-child(1) {
    @include textOutline(#FFAC11, gold, 0.2rem);
    font-size: 150px;
    position: absolute;
  }

  h1:nth-child(2) {
    position: relative;
    z-index: 1;
    font-size: 100px;
    line-height: 0;
    display: inline-block;

    @include media("<455px") {
      font-size: 60px;
    }
  }
}
