@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Squada+One&display=swap');
@import '_utils';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include latoFont();
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
