@import '../utils';

.socialLinks {
  position: fixed;
  bottom: 0;
  left: 40px;
  width: 50px;

  &::after {
    content: "";
    width: 2px;
    height: 120px;
    background-color: $secondary-color;
    display: block;
    margin: 0 auto;
  }
}
