@import '../utils';
@import '../media/media';

.socialLinks {
  position: absolute;
  // position: fixed;
  bottom: 0;
  left: 40px;
  width: 50px;
  z-index: 1;

  @include media("<750px") {
    display: none;
  }

  &::after {
    content: "";
    width: 2px;
    height: 120px;
    background-color: $secondary-color;
    display: block;
    margin: 0 auto;
    transform: translateX(2.5px);
  }
}
