@mixin HeadingsFont {
  font-family: 'Squada One',
    cursive;
  // font-family: 'Anton',
  //   sans-serif;
}

@mixin NormalFont {
  font-family: 'Manrope',
    sans-serif;
}

$main-color: #ffa600;
$primary-color: white;
$secondary-color: black;

@mixin display($display-type, $direction, $justify-content) {
  display: $display-type;
  flex-direction: $direction;
  justify-content: $justify-content;
}

@mixin centerAbsDivBothSides {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin centerAbsDivLeft {
  left: 50%;
  transform: translateX(-50%);
}

@mixin textOutline($textColor, $outlineColor, $letter-spacing) {
  color: $textColor;
  text-shadow: -1px -1px 0 $outlineColor,
    1px -1px 0 $outlineColor,
    -1px 1px 0 $outlineColor,
    1px 1px 0 $outlineColor;
  letter-spacing: $letter-spacing;
}
