@import "../utils";

.projects {
  width: 100%;
  min-height: 100vh;
  background-color: $primary-color-2;
  color: white;
  @include alignSectionCenter();

  .sectionsContainer {
    @include sectionsContainer();

    .leftSection {
      width: 50%;

      // background-color: blue;
      .projectDetails {
        margin: 50px 0;
        max-width: 350px;
        margin-left: 50px;
      }
    }

    .rightSection {
      width: 40%;
      // background-color: green;

      .card {
        @include flex(row, left);
        background-color: #1B1B1B;
        margin-bottom: 20px;
        padding: 5px 10px;
        cursor: pointer;

        .number {
          color: #525252;
          margin-right: 20px;
          font-weight: 700;
        }

        .details {
          width: 70%;

          .name {
            color: $main-color;
            font-size: 1.2rem;
            font-weight: bold;
            text-transform: uppercase;

            h1 {
              line-height: 0;
            }
          }

          .type,
          .date {
            font-size: 0.8rem;
            text-transform: uppercase;
            margin-top: -10px;
          }

          .date {
            color: #8d8d8d;
          }
        }

        .icon {
          @include alignSectionCenter();

          svg {
            fill: $main-color;
          }
        }
      }
    }
  }
}
