@import 'utils/_utils';

.aboutSection {
  width: 100%;
  position: relative;
  background-color: #FFAC11;

  .innerContainer {
    @include display(flex, row, center);
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
    // background-color: green;

    .image {
      width: 50%;
      @include display(flex, row, center);
      align-items: center;
      align-content: center;
    }

    .aboutContent {
      width: 50%;
      padding-right: 100px;

      .headers {
        @include squadoFont();
        text-transform: uppercase;

        h1 {
          position: relative;
          display: block;
          margin: 0;
          margin-top: 50px;

          span:nth-child(1) {
            font-size: 150px;
            color: #ffb833;
            position: absolute;
            top: 0;
            left: -55px;
            line-height: 0;
            z-index: 0;
          }

          span:nth-child(2) {
            position: relative;
            z-index: 1;
            font-size: 100px;
            line-height: 0;
            display: inline-block;
            transform: translate(0, 18px);
          }
        }
      }

      p {
        color: white;
        margin: 70px 0;
      }

      .buttons {
        @include display(flex, row, left);

        a {
          button {
            outline: none;
            border: none;
            background-color: black;
            color: white;
            width: 200px;
            height: 45px;
            text-transform: uppercase;
            font-weight: 900;
            letter-spacing: 0.1rem;
            cursor: pointer;
          }

          &:nth-child(1) {
            margin-right: 20px;
          }

          &:nth-child(2) {
            button {
              background-color: white;
              color: black;
            }
          }

        }
      }
    }
  }
}
