@import 'utils/_utils';
@import 'utils/_media';

.aboutSection {
  width: 100%;
  position: relative;
  background-color: #FFAC11;

  .innerContainer {
    @include display(flex, row, center);
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;

    @include media("<800px") {
      @include display(flex, column, center);
      align-items: center;
      align-content: center;
    }

    .image {
      width: 50%;
      @include display(flex, row, center);
      align-items: center;
      align-content: center;

      @include media("<800px") {
        width: 60%;
      }

      @include media("<500px") {
        width: 100%;
      }
    }

    .aboutContent {
      width: 50%;
      padding-right: 100px;

      @include media("<1250px") {
        padding-right: 50px;
      }

      @include media("<1200px") {
        padding-right: 0;
        padding-left: 50px;
      }

      @include media("<800px") {
        width: 100%;
        margin-top: 50px;
      }

      @include media("<550px") {
        padding-left: 0;
      }

      .headers {
        @include squadoFont();
        text-transform: uppercase;

        @include media("<550px") {
          text-align: center;
        }

        h1 {
          position: relative;
          display: block;
          margin: 0;
          margin-top: 50px;

          @include media("<800px") {
            text-align: center;
          }

          span:nth-child(1) {
            font-size: 150px;
            color: #ffb833;
            position: absolute;
            top: 0;
            left: -55px;
            line-height: 0;
            z-index: 0;

            @include media("<800px") {
              font-size: 120px;
              left: 50%;
              transform: translateX(-50%);
            }

            @include media("<455px") {
              font-size: 100px;
            }
          }

          span:nth-child(2) {
            position: relative;
            z-index: 1;
            font-size: 100px;
            line-height: 0;
            display: inline-block;
            transform: translate(0, 18px);

            @include media("<800px") {
              transform: translate(0, 5px);
            }

            @include media("<455px") {
              font-size: 60px;
            }
          }
        }
      }

      p {
        color: white;
        margin: 70px 0;
      }

      .buttons {
        @include display(flex, row, left);

        @include media("<410px") {
          @include display(flex, column, left);
        }

        a {
          @include media("<850px") {
            margin-bottom: 10px;
          }

          button {
            outline: none;
            border: none;
            background-color: black;
            color: white;
            width: 200px;
            height: 45px;
            text-transform: uppercase;
            font-weight: 900;
            letter-spacing: 0.1rem;
            cursor: pointer;

            @include media("<1050px") {
              width: 150px;
              letter-spacing: 0.05rem;
              font-size: 0.8rem;
            }

            @include media("<410px") {
              width: 100%;
            }
          }

          &:nth-child(1) {
            margin-right: 20px;

            @include media("<410px") {
              margin-right: 0;
            }
          }

          &:nth-child(2) {
            button {
              background-color: white;
              color: black;
            }
          }

        }
      }
    }
  }
}
