@import '../utils';

.aboutSection {
  width: 100%;
  height: 100vh;
  background-color: $main-color-shade;
  @include alignSectionCenter();

  .sectionsContainer {
    @include sectionsContainer();

    .leftSection {
      width: 50%;
      @include flex(row, center);
    }

    .rightSection {
      width: 50%;

      .details {
        margin-bottom: 50px;

        p {
          color: $primary-color-1;
          max-width: 400px;
        }
      }

      .buttons {
        a {
          margin-right: 20px;

          button {
            cursor: pointer;
          }

          .skillsButton {
            @include buttonWithoutOutline();
            width: 200px;
            height: 45px;
          }

          .downloadButton {
            @include buttonWithOutline();
            width: 200px;
            height: 45px;
          }
        }
      }
    }
  }
}
