@import "../utils";

.projectsLanding {
  width: 100%;
  height: 100vh;
  background-color: $main-color;
  position: relative;
  @include flex(column, center);
  align-items: center;
  align-content: center;

  .headerDetails {
    width: 70%;
    margin: 0 auto;
    @include flex(row, space-between);

    .title {
      width: 50%;

      h1 {
        font-size: 80px;
        // @include HeadingsFont();
        // font-weight: 500;
        // text-transform: uppercase;
      }

      .shortP {
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: bold;
        color: $secondary-color;
      }

      .detailedP {
        color: white
      }
    }

    .links {
      @include flex(column, center);
      font-size: 40px;


      a {
        color: white;
        text-decoration: underline;
        margin-bottom: 20px;
      }
    }
  }

  .detailsRecap {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    background-color: #131313;
    color: white;
    @include flex(row, space-around);
    padding: 10px;

    .detailContainer {
      p:nth-child(1) {
        color: $secondary-color;
        font-weight: 500;
        text-transform: uppercase;
      }

      p:nth-child(2),
      li {
        font-size: 0.8rem;
        color: #929292;
      }

      p:nth-child(2) {
        text-transform: uppercase;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  .container {
    @include flex(row, space-between);
    width: 95%;
    margin: 0 auto;
    color: primary-color-2;
    // mix-blend-mode: difference;

    .backButton {

      a {
        color: $primary-color-1;

        p {
          margin-top: -10px;
          font-weight: 700;
        }

        svg {
          fill: $primary-color-1;
        }
      }
    }
  }
}

.projectDetailsContainer {
  background-color: $primary-color-2;
  width: 100%;
  @include flex(row, space-around);
  align-items: center;
  align-content: center;

  .sectionDetailsContainer {
    width: 70%;
    margin: 100px auto;
    color: white;
    // @include flex(row, space-around);
    // align-items: center;
    // align-content: center;

    .projectDetails {
      @include flex(row, center);
      margin: 50px 0;
      // border-bottom: 1px solid rgb(80, 80, 80);

      .details {
        width: 50%;
        margin-bottom: 50px;
      }

      .projectDetailsTitle {
        width: 30%;

        p {
          color: $main-color;
          font-size: 30px;
          // color: rgba($color: $secondary-color, $alpha: 1);
          // text-transform: uppercase;
        }
      }
    }
  }
}

.images {
  background-color: $primary-color-2;

  .fullImage {
    width: 80%;
    height: 50vh;
    margin: 0 auto;
    background-image: url('/images/full.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
  }

  .dividedImages {
    width: 80%;
    height: 50vh;
    margin: 0 auto;
    @include flex(row, space-between);
    overflow: hidden;

    .image {
      width: 49%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

.footer {
  background-color: $primary-color-2;
  @include flex(row, center);
  // align-items: center;
  // align-content: center;

  .container {
    width: 80%;
    margin: 0 auto;

    .nextProject {
      margin: 50px 0;
      margin-top: 150px;
      @include flex(row, space-between);

      a {
        color: $secondary-color;

        h1 {
          font-size: 4rem;
          @include HeadingsFont();
          line-height: 0;
        }

        p {
          font-weight: 700;
          text-transform: uppercase;

          span {
            color: rgba($color: $primary-color-1, $alpha: 0.5);
            font-weight: normal;
          }
        }
      }

      .footerDetails {
        color: white;
        text-align: right;
      }
    }
  }
}
