@import "../utils";
@import "../media/media";

.projectsLanding {
  width: 100%;
  height: 100vh;
  background-color: $main-color;
  position: relative;
  @include flex(column, center);
  align-items: center;
  align-content: center;

  @include media("<650px") {
    height: auto;
  }

  .headerDetails {
    width: 70%;
    margin: 0 auto;
    @include flex(row, space-between);

    @include media("<800px") {
      @include flex(column, center);
    }

    @include media("<600px") {
      padding-top: 200px;
    }

    @include media("<450px") {
      width: 90%;
    }

    .title {
      width: 50%;

      @include media("<1000px") {
        width: 60%;
      }

      @include media("<800px") {
        width: 100%;
      }

      h1 {
        font-size: 60px;

        @include media("<1205px") {
          font-size: 50px;
        }
      }

      .shortP {
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: bold;
        color: $secondary-color;
      }

      .detailedP {
        color: white
      }
    }

    .links {
      @include flex(column, center);
      font-size: 30px;

      @include media("<800px") {
        @include flex(row, left);
        margin-top: 20px;

        a {
          &:nth-child(1) {
            margin-right: 20px;
          }
        }
      }

      @include media("<455px") {
        @include flex(column, center);
      }

      a {
        color: white;
        text-decoration: underline;
        margin-bottom: 20px;

        svg {
          transform: translate(10px, 7px);
        }
      }
    }
  }

  .detailsRecap {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    background-color: #131313;
    color: white;
    @include flex(row, space-around);
    padding: 10px;

    @include media("<950px") {
      width: 70%;
    }

    @include media("<650px") {
      position: relative;
      transform: translate(0, 0);
      left: 0;
      margin: 0 auto;
    }

    @include media("<600px") {
      width: 100%;
    }

    @include media("<450px") {
      @include flex(column, center);
      padding: 20px 30px;
    }

    .detailContainer {
      p:nth-child(1) {
        color: $secondary-color;
        font-weight: 500;
        text-transform: uppercase;
      }

      p:nth-child(2),
      li {
        font-size: 0.8rem;
        color: #929292;
      }

      p:nth-child(2) {
        text-transform: uppercase;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 2;

  background: rgba(255, 172, 17, 0);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);

  @include media("<450px") {
    height: 70px;
    @include flex(row, center);
    align-items: center;
    align-content: center;
  }

  .container {
    @include flex(row, space-between);
    width: 95%;
    margin: 0 auto;
    color: primary-color-2;
    // mix-blend-mode: difference;

    .backButton {
      @include media("<450px") {
        padding-top: 5px;
      }

      color: $primary-color-1;
      cursor: pointer;

      p {
        margin-top: -10px;
        font-weight: 700;
      }

      svg {
        fill: $primary-color-1;
      }

      &:hover {
        color: $secondary-color;

        svg {
          fill: $secondary-color;
        }
      }
    }
  }
}

.projectDetailsContainer {
  background-color: $primary-color-2;
  width: 100%;
  @include flex(row, space-around);
  align-items: center;
  align-content: center;

  .sectionDetailsContainer {
    width: 70%;
    margin: 100px auto;
    color: white;

    @include media("<1100px") {
      width: 80%;
    }

    @include media("<750px") {
      margin: 0 auto;
    }

    @include media("<450px") {
      width: 90%;
    }

    .projectDetails {
      @include flex(row, center);
      margin: 50px 0;

      @include media("<750px") {
        @include flex(column, center);
      }

      .details {
        width: 50%;
        margin-bottom: 50px;

        @include media("<750px") {
          width: 100%;
        }
      }

      .projectDetailsTitle {
        width: 30%;

        p {
          color: $main-color;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }
}

.images {
  background-color: $primary-color-2;

  .fullImage {
    width: 80%;
    height: 50vh;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    @include media("<550px") {
      width: 100%;
    }
  }

  .dividedImages {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    @include flex(row, space-between);
    position: relative;
    overflow: hidden;

    @include media("<750px") {
      @include flex(column, center);
    }

    @include media("<550px") {
      width: 100%;
    }

    .image {
      width: 49%;
      max-height: 400px;
      position: relative;

      @include media("<750px") {
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

.footer {
  background-color: $primary-color-2;
  @include flex(row, center);

  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    padding-top: 100px;
    @include flex(row, space-between);

    @include media("<700px") {
      @include flex(column, center);
    }

    .nextProject {
      color: $secondary-color;
      cursor: pointer;

      h1 {
        font-size: 4rem;
        @include HeadingsFont();
        line-height: 0;
      }

      p {
        font-weight: 700;
        text-transform: uppercase;

        span {
          color: rgba($color: $primary-color-1, $alpha: 0.5);
          font-weight: normal;
        }
      }
    }

    .footerDetails {
      color: white;
      text-align: right;

      @include media("<700px") {
        text-align: left;
      }
    }
  }
}
