@import "../utils";
@import "../media/media";

.contact {
  width: 100%;
  min-height: 100vh;
  // background-color: $main-color-shade;
  background: rgb(255, 189, 65);
  background: -moz-linear-gradient(90deg, rgba(255, 189, 65, 1) 0%, rgba(255, 172, 17, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255, 189, 65, 1) 0%, rgba(255, 172, 17, 1) 100%);
  background: linear-gradient(90deg, rgba(255, 189, 65, 1) 0%, rgba(255, 172, 17, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffbd41", endColorstr="#ffac11", GradientType=1);

  .headingContainer {
    @include flex(row, center);
    padding: 90px 0;
  }

  .sectionsContainer {
    @include sectionsContainer();

    @include media("<850px") {
      padding-bottom: 100px;
    }

    padding-bottom: 120px;

    .leftSection {
      width: 40%;
      color: white;

      @include media("<850px") {
        width: 100%;
      }

      .boldTitle {
        font-size: 3.2rem;
        font-weight: bold;
        margin-top: -20px;

        @include media("<1130px") {
          font-size: 3rem;
        }

        @include media("<1050px") {
          font-size: 2.5rem;
        }

        span {
          color: $secondary-color;
        }
      }

      .details {
        margin-left: 30px;

        @include media("<1050px") {
          margin: 0;
          margin-bottom: 70px;
        }
      }
    }

    .rightSection {
      width: 60%;

      @include media("<850px") {
        width: 100%;
      }

      form {
        margin-left: 50px;

        @include media("<850px") {
          margin: 0;
        }

        .inputGroup {
          width: 100%;
          margin-bottom: 40px;
          @include flex(row, space-between);

          @include media("<850px") {
            @include flex(column, center);
          }

          input {
            width: 48%;
            background-color: transparent;
            border: 1px solid $primary-color-1;
            height: 45px;
            padding: 0 10px;
            @include NormalFont();

            @include media("<850px") {
              width: 100%;
              margin-top: 20px;
            }

            &:focus {
              outline: none;
              border: 1px solid $primary-color-1;
            }

            &::placeholder {
              text-transform: uppercase;
              font-weight: 700;
              color: white;
            }
          }
        }

        textarea {
          width: 100%;
          background-color: transparent;
          border: 1px solid $primary-color-1;
          height: 100px;
          padding: 10px;
          margin-bottom: 40px;
          @include NormalFont();

          &:focus {
            outline: none;
            border: 1px solid $primary-color-1;
          }

          &::placeholder {
            text-transform: uppercase;
            font-weight: 700;
            color: white;
          }
        }

        button {
          color: $primary-color-2;
          cursor: pointer;
          outline: none;
          border: none;
          width: 200px;
          height: 45px;
          background-color: $secondary-color;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 0.2rem;
          @include NormalFont();

          @include media("<550px") {
            width: 100%;
          }
        }
      }
    }
  }
}
