@import '_utils';

.contact {
  background-image: url('/images/Footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  .container {
    width: 80%;
    margin: 150px auto;

    .headings {
      @include squadoFont();
      text-transform: uppercase;
      text-align: center;

      h1 {
        margin: 0;
        position: relative;

        span:nth-child(1) {
          font-size: 150px;
          color: #ffb833;
          position: absolute;
          @include centerAbsDivLeft();
          line-height: 0;
          z-index: 0;
        }

        span:nth-child(2) {
          position: relative;
          z-index: 1;
          font-size: 100px;
          line-height: 0;
          display: inline-block;
          transform: translate(0, 18px);
        }
      }
    }

    .formInfo {
      margin: 150px 0;
      @include display(flex, row, center);

      .left {
        width: 45%;
        text-align: right;

        .contactCard {
          p {
            span {
              display: inline-block;
              width: 25px;
              height: 25px;
              transform: translateY(5px);

              img {
                width: 100%;
                height: 100%;
              }
            }
          }

          p:nth-child(1) {
            text-transform: uppercase;
            font-weight: bold;
          }

          p:nth-child(2) {
            font-weight: 300;
            font-size: 0.8rem;
            margin-top: -10px;
            color: white;
          }
        }
      }

      .center {
        width: 1px;
        background-color: #ffdc69;
        margin: 0 20px;
      }

      .right {
        width: 55%;

        p {
          max-width: 400px;
          color: white;
          font-weight: 300;
          margin-bottom: 50px;
        }

        form {
          @include display(flex, column, center);
          max-width: 400px;

          input,
          textarea {
            margin-bottom: 20px;
          }

          .input,
          textarea {
            width: 100%;
            height: 40px;
            outline: none;
            border: none;
            padding: 10px;
            background: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.2);

            &::placeholder,
            &::-webkit-input-placeholder {
              color: rgba(0, 0, 0, 0.8);
              font-weight: 900;
              text-transform: uppercase;
              font-size: 0.8rem;
            }

            &:focus {
              border: 1px solid rgba(255, 255, 255, 0.5);
            }
          }

          textarea {
            height: 100px;
            resize: none;
            font-family: inherit;
          }

          .button {
            width: 200px;
            height: 40px;
            outline: none;
            border: none;
            background-color: black;
            color: white;
            letter-spacing: 0.2rem;
            font-weight: 900;
            text-transform: uppercase;
            cursor: pointer;
          }
        }
      }
    }
  }

  footer {
    text-align: center;
    color: #000000;
    padding: 20px 0;
    background-color: #ffb836f5;

    span {
      font-size: 0.8rem;
    }
  }
}
